.case {
    border-radius: 27px;
    padding: 5px 6px;
    position: relative;
    background: none !important;
}

.case-background {
    background: linear-gradient(135deg, #03b3ff 0%, #5a31ff 100%);
    border-radius: 27px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.case-container {
    border: 4px solid rgba(120, 132, 138, 0.15);
    border-radius: 23px;
    padding: 16px 14px 13px 13px;
    background: none;
    position: relative;
    z-index: 10;
}

.case-title {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin-bottom: 4px;
    padding-left: 9px;
}

.case-list {
    list-style: none;
    padding-left: 41px;
}

.case-list-item {
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #fff;
    position: relative;
}
.case-list-item:last-child {
    margin-bottom: 0;
}

.checkmark {
    color: white;
    position: absolute;
    left: -25px;
}

.case-button {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 12px;
    background: none;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #42bbff;
    position: relative;
}

.case-button-background {
    background: #0f98e5;
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}


.case-price {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 27px;
    color: #fff;
    margin-top: 35px;
    display: flex;
}

.case-price span {
    display: flex;
    align-items: end;
    margin-left: 12px;
    display: none;
}

.case-price span .case-price-container {
    position: relative;
    opacity: 1;
}



.case-price span .case-price-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    opacity: 0.65;
}

.case-price span .case-price-container div {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translate(0, -50%);
    background: #e52525;
    opacity: 1;
    z-index: 5;
}

.case-price span .case-price-discount {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #2db1fb;
    padding: 3px 8px 2px 9px;
    background: linear-gradient(175deg, rgba(38, 255, 151, 0.1) 0%, rgba(49, 131, 255, 0.1) 100%);
    border-radius: 39px;
    margin-left: 12px;
}

.case-ps {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    opacity: 0.5;
    margin-bottom: 14px;
}

.case-userChoose {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1995db;
    border-radius: 0 19px 0 14px;
    background: rgba(120, 132, 138, 0.15);
    padding: 4px 17px 6px 18px;
    display: none;
}

.case-selling {
    position: absolute;
    top: -4px;
    right: -4px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1995db;
    border-radius: 0 19px 0 14px;
    background: rgba(74, 157, 219, 0.25);
    padding: 4px 17px 6px 18px;
    display: none;
}