.container {
    max-width: 369px;
    margin: 0 auto;
    padding-top: 47px;
}

body {
    background: #0e0e0e;
}

.access__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #fff;
}

.access-cases-container {
    margin-top: 25px;
    max-height: 57.5vh;
    overflow-y: scroll;
}

.access-reviews {
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #0f98e5;
    width: 100%;
    border-radius: 20px;
    background: none;
    border: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 11px;
    position: relative;
    margin-top: 25px;
}
.access-reviews img {
    margin-right: 6px;
}

.access-reviews div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(178deg, #11a9ff 0%, #bd31ff 100%);
    opacity: 0.25;
    z-index: -1;
    border: none;
}

.access-help {
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #0f98e5;
    width: 100%;
    border-radius: 20px;
    background: none;
    border: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 11px;
    position: relative;
    margin-top: 16px;
}

.access-help img {
    margin-right: 9px;
}

.access-help div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: #0f98e5;
    opacity: 0.25;
    z-index: -1;
    border: none;
}