/* Стили для анимации входа элемента на экран */
.slide-enter {
  transform: translateY(100%); /* Начальное состояние: элемент находится ниже видимой области экрана */
}

/* Активное состояние анимации входа элемента */
.slide-enter-active {
  transform: translateY(0); /* Элемент перемещается в видимую область экрана */
  transition: transform 260ms ease-in-out; /* Плавный переход за 260 миллисекунд с эффектом ease-in-out */
}

/* Стили для анимации выхода элемента с экрана */
.slide-exit {
  transform: translateY(0); /* Начальное состояние: элемент на экране */
}

/* Активное состояние анимации выхода элемента */
.slide-exit-active {
  transform: translateY(-100%); /* Элемент перемещается вверх, за пределы видимой области экрана */
  transition: transform 260ms ease-in-out; /* Плавный переход за 260 миллисекунд с эффектом ease-in-out */
}

/* Основные стили для body и html */
body, html {
  overflow-y: auto; /* Разрешаем вертикальную прокрутку */
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}

/* Стили для основного экрана и контейнера с историями */
.main-screen,
.stories-container {
  height: 100vh; /* Устанавливаем высоту равную высоте видимой области экрана */
  width: 100vw; /* Устанавливаем ширину равную ширине видимой области экрана */
  position: fixed;  /* Фиксируем позицию элементов относительно окна браузера, что предотвращает их перемещение при прокрутке */
}
