

  .container-outsider .auth-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #fff;
    margin-bottom: 20px;
  }

  .auth-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #fff;
    margin-bottom: 16px;
  }
  
  .code-container {
    background: linear-gradient(178deg, rgba(17, 169, 255, 0.25) 0%, rgba(189, 49, 255, 0.25) 100%);
    padding: 19px 26px 19px 23px;
    border: 3px solid #4ab3ff;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
    margin-bottom: 23px;
  }

  .code-container span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #4ab3ff;
  }
  
  .code {
    font-family: monospace;
    font-size: 18px;
  }
  
  .activate-link {
    color: #64b5f6;
    text-decoration: none;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .help-button,
  .cancel-button {
    background: none;
    border: none;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #0f98e5;
    border: none;
    padding: 21px 37px 19px 38px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
  }
  
.help-button div,
.cancel-button div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0f98e5;
    opacity: 0.25;
    border-radius: 20px;
}