.container {
    max-width: 369px;
    margin: 0 auto;
    padding-top: 26px;
}

.nickname-container {
    width: 100%;
}

.nickname-container__label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #4a9ddb; 
}
.nickname-container__span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #db4a4a;
    display: none;
}

.nickname-container input {
    margin-top: 7px;
    margin-bottom: 6px;
    border: 3px solid #4a9ddb;
    border-radius: 20px;
    padding: 14px 22px;
    background: rgba(86, 164, 255, 0.1);
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgba(74, 157, 219);
    width: 100%;
    box-sizing: border-box;
}
.nickname-container__input::placeholder {
    color: rgba(74, 157, 219, 0.39); /* Цвет для валидного состояния */
    opacity: 1; 
}

.nickname-container__input.invalid::placeholder {
    color: rgba(219, 74, 74, 0.39); /* Цвет для невалидного состояния */
}



.switch-label {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #4a9ddb;
}

.game-container {
    width: 100%;
}

.game__text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #4a9ddb;
    margin-bottom: 7px;
}

.game__button {
    width: 100%;
    border: 3px solid #4a9ddb;
    border-radius: 20px;
    background: none;
    display: flex;
    justify-content: space-between;
    padding: 14px 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #4a9ddb;
    align-items: center;
}

.game__button span {
    display: flex;
    align-items: center;
}

.complite-button {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    background: #0f98e5;
    padding: 14px 0;
    border: none;
    margin-top: 125px;
}